*pkl
*slurm
*out
.ipynb_checkpoints/
*pyc
.idea/
data/
.vscode/
data/
outputs
models
CUB_200_2011/
CUB/pretrained
uv.lock
pyproject.toml
*/__pycache__
__pycache__
.vscode/
data/
outputs
models
CUB_200_2011/
CUB/pretrained
/pretrained